# Business Intelligence and Analytics - Assignment

Welcome to the Assignment! You have to complete this notebook to find the answers to the 14 questions below. The data needed can be found in the data subfolder.

In order to properly submit the assignment, you will have to do **both** steps mentioned below. Both of these must be done on the Moodle page, right under the forums.
- Answer the questions on the [quiz](https://moodle.unil.ch/mod/quiz/view.php?id=1029998).
- Submit your [notebook](https://moodle.unil.ch/mod/assign/view.php?id=1034597).

Make sure to follow all instructions carefully.

Good luck!

### Part 1 - Data Cleaning

**IMPORTANT:** In this part, whenever you are asked to perform an operation on the DataFrame (dropping rows, changing datatypes, etc.), you should always continue the exercise with the altered DataFrame.

First, begin by importing pandas.

In [ ]:
#TODO: IMPORT PANDAS
import pandas as pd

Load the dataset that contains various information about every company on the 2018 edition of the Fortune 500 list. That list is an annual ranking of the 500 largest US corporations (by revenues). The individual columns should be self-explanatory.

You have to find the corresponding url yourself. The dataset is located in the assignment folder under data. Taking a look at the raw data before loading it might be useful.

In [ ]:
#TODO: LOAD THE DATASET AND SHOW THE FIRST FEW ROWS
url = 'https://raw.githubusercontent.com/michalis0/Business-Intelligence-and-Analytics/master/assignment/data/fortune500.csv'
df = pd.read_csv(url, sep = ';')
df.head()

   Rank             Company  Previous Rank  ...  State   Latitude   Longitude
0     1             Walmart            1.0  ...     AR  36.372854  -94.208817
1     2         Exxon Mobil            4.0  ...     TX  32.814018  -96.948894
2     3  Berkshire Hathaway            2.0  ...     NE  41.256537  -95.934503
3     4               Apple            3.0  ...     CA  37.322998 -122.032182
4     5  UnitedHealth Group            6.0  ...     MN  44.921184  -93.468749

[5 rows x 18 columns]

#### Question 1: How many rows and columns does the DataFrame contain?

In [ ]:
#TODO: DISPLAY THE DIMENSIONS OF THE DATAFRAME
df.shape

(500, 18)

Now take a look at the datatypes of the columns.

In [ ]:
#TODO: LOAD THE DATATYPES
df.dtypes

Rank                           int64
Company                       object
Previous Rank                float64
Revenues ($M)                float64
Profits ($M)                  object
Assets ($M)                    int64
Market Value ($M)            float64
Employees                      int64
CEO                           object
CEO Title                     object
CEO Gender                    object
Sector                        object
Industry                      object
Years on Fortune 500 List      int64
City                          object
State                         object
Latitude                     float64
Longitude                    float64
dtype: object

We can see that there are several columns that should have a different datatype than what they currently do. Therefore you should now do the following transformations:

| Columns | Wanted Datatype |
| :---: | :---: |
| Profits ($M) | Numerical continuous |
| CEO Title | categorical nominal |
| CEO Gender | categorical nominal |
| Sector | categorical nominal |
| Industry | categorical nominal |
| State | categorical nominal |

All invalid entries that cannot be converted should appear as null values in the DataFrame after you are done with the changes.

In [ ]:
#TODO: CHANGE THE DATATYPE OF THE COLUMNS MENTIONED ABOVE
df["Profits ($M)"] = pd.to_numeric(df["Profits ($M)"], errors= 'coerce')
df["CEO Title"] =  pd.Categorical(df["CEO Title"], ordered=False)
df["CEO Gender"] =  pd.Categorical(df["CEO Gender"], ordered=False)
df["Sector"] =  pd.Categorical(df["Sector"], ordered=False)
df["Industry"] =  pd.Categorical(df["Industry"], ordered=False)
df["State"] =  pd.Categorical(df["State"], ordered=False)
df.dtypes

Rank                            int64
Company                        object
Previous Rank                 float64
Revenues ($M)                 float64
Profits ($M)                  float64
Assets ($M)                     int64
Market Value ($M)             float64
Employees                       int64
CEO                            object
CEO Title                    category
CEO Gender                   category
Sector                       category
Industry                     category
Years on Fortune 500 List       int64
City                           object
State                        category
Latitude                      float64
Longitude                     float64
dtype: object

We will not need the coordinates of the companies' headquarters. Drop the appropriate columns.

In [ ]:
#TODO: DROP THE COLUMNS CONTAINING THE COORDINATES
dfdroped = df.drop(columns=['Latitude', 'Longitude'])
dfdroped.head()

   Rank             Company  ...         City  State
0     1             Walmart  ...  Bentonville     AR
1     2         Exxon Mobil  ...       Irving     TX
2     3  Berkshire Hathaway  ...        Omaha     NE
3     4               Apple  ...    Cupertino     CA
4     5  UnitedHealth Group  ...   Minnetonka     MN

[5 rows x 16 columns]

:#### Question 2: What column has the most missing values?

In [ ]:
#TODO: COMPUTE THE NUMBER OF MISSING VALUES PER COLUMN
total = dfdroped.isnull().sum().sort_values(ascending=False)
total

Market Value ($M)            28
Industry                      8
CEO                           7
Profits ($M)                  7
Previous Rank                 5
Sector                        2
CEO Title                     2
State                         0
City                          0
Years on Fortune 500 List     0
CEO Gender                    0
Employees                     0
Assets ($M)                   0
Revenues ($M)                 0
Company                       0
Rank                          0
dtype: int64

Drop the rows with missing values.

In [ ]:
#TODO: DROP THE ROWS WITH MISSING VALUES
dfdroped = dfdroped.dropna()
dfdroped.shape

(445, 16)

#### Question 3: How many rows were dropped?

In [ ]:
#TODO: COMPUTE THE AMOUNT OF ROWS THAT WERE DROPPED
print('we dropped', 500 - len(dfdroped), 'rows')

we dropped 55 rows

#### Question 4: What percentage of CEOs are women? (Round to two decimals)

(1.01% should be entered as 1.01)

In [ ]:
#TODO: COMPUTE THE PERCENTAGE OF WOMEN CEOs
WomenCeos = sum(dfdroped['CEO Gender'] == 'Female')
AllCeos = len(dfdroped)
WomenCeosPerc =  round(100*WomenCeos/AllCeos, ndigits=2)
print(WomenCeosPerc, "% of CEOs are women")

5.17 % of CEOs are women

We are now interested in the change in rank each company made over the past year.

In [ ]:
#TODO: ADD A COLUMN THAT MEASURES HOW MANY RANKS EACH COMPANY HAS GAINED
dfdroped.loc[:, 'Evolution'] = dfdroped['Previous Rank'] - dfdroped['Rank']
dfdroped.head()

   Rank             Company  Previous Rank  ...         City  State  Evolution
0     1             Walmart            1.0  ...  Bentonville     AR        0.0
1     2         Exxon Mobil            4.0  ...       Irving     TX        2.0
2     3  Berkshire Hathaway            2.0  ...        Omaha     NE       -1.0
3     4               Apple            3.0  ...    Cupertino     CA       -1.0
4     5  UnitedHealth Group            6.0  ...   Minnetonka     MN        1.0

[5 rows x 17 columns]

#### Question 5: What company gained the most ranks?

In [ ]:
#TODO: FIND THE COMPANY THAT GAINED THE MOST RANKS
mostRanks = dfdroped['Evolution'] == dfdroped['Evolution'].max()
Comp = dfdroped[mostRanks]
Comp

     Rank               Company  Previous Rank  ...    City  State  Evolution
274   275  Molson Coors Brewing          522.0  ...  Denver     CO      247.0

[1 rows x 17 columns]

### Part 2 - Regression 

For this part, you are going to build a linear regression model on crypto-currency trades. Each column of the dataset stands for: 


*   Name - the stock's ticker name
*   Date - in format: yy-mm-dd
*   Open - price of the stock when the market opened (NYSE data therefore all in USD)
*   High - Highest price the stock reached that day
*   Close - price of the stock when the market closed (NYSE data therefore all in USD)
*   Volume - Number of shares traded that day
*   Market -  Total amount of trades on the market that day
*   spread -Â Trading metric 



**Task:** Build a linear regression model for the **closing price** of Bitcoin related crypto currencies using the following attributes: 

["name", "date", "open", "high", "low", "volume",	"market",	"spread"]

First, load the data and make a simple datatype conversion.

In [ ]:
#TODO: RUN THE CELL TO FETCH DATA AND START WORKING 
url = 'https://storage.googleapis.com/unil_bia/cryptocurrencies.csv'
df = pd.read_csv(url, parse_dates=["date"],date_parser= pd.to_datetime)
df.head()

      name       date        open  ...        market  close_ratio     spread
0  Bitcoin 2013-04-28  135.255145  ...  1.488567e+09     0.669039   3.817072
1  Bitcoin 2013-04-29  134.502146  ...  1.603769e+09     0.812517  13.470633
2  Bitcoin 2013-04-30  144.034751  ...  1.542813e+09     0.381134  13.022239
3  Bitcoin 2013-05-01  139.053026  ...  1.298955e+09     0.346369  32.148365
4  Bitcoin 2013-05-02  116.372753  ...  1.168517e+09     0.538017  33.301740

[5 rows x 10 columns]

In [ ]:
#RUN TO TURN DATE DATA TO USABLE TYPE (INT)
from datetime import datetime
df.date=df.date.map(datetime.toordinal)

You will now build the regression model.




#### Question 6: How many Bitcoin related cryptos are in the dataset?

 > _Hint_: Bitcoin related crypto currencies all start with "Bitcoin"

In [ ]:
#TODO: WRITE CODE TO GET ALL BITCOIN RELATED CRYPTO INTO A SEPARATE DATAFRAME
#HINT: look up str.startswith


bitcoin = df['name'].str.startswith('Bitcoin')

bitcoinRelated = df[bitcoin]

count = bitcoinRelated['name'].value_counts().to_frame()
count.shape

(26, 1)

In [ ]:
#TODO WRITE CODE TO SELECT FEATURES OF INTEREST IN THE DATA SET AND APPLY APPROPRIATE TRANSFORMATION
#HINT: use DataFrame indexing, look up the functions datetime.toordinal, .get_dummies
#DATAFRAME WITH THE INDEPENDENT VARIABLES


dummies = pd.get_dummies(bitcoinRelated["name"])
x = pd.concat([bitcoinRelated, dummies], axis = 1)
del x['name']
del x['close']
del x['close_ratio']

#DATAFRAME WITH THE DEPENDENT VARIABLE
y = bitcoinRelated[['close']]


#### Question 7: How many rows and columns does the test set contain? (only independent variables)
>You will have to split the data set into training and testing set with respective relative proportion of **70% and 30%** to first train your model and then assess its accuracy.
>
> You should shuffle your data set when splitting to render your reproduction more robust. Use **`random_state = 42`**
>
> Since features will not be on the same scale, you should standardize your data before modeling using a **StandardScaler**
>
>_Hint_: use the class sklearn.preprocessing

In [ ]:
#TODO: CODE TO SPLIT DATA SET IN TRAIN AND TEST, RANDOM SHUFFLING
#HINT: look up the function model_selection.train_test_split, preprocessing.StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state=42, shuffle=True)

scaler = StandardScaler()
scaler.fit(x_train)

x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

#x_train = scaler.fit_transform(x_train)    
#x_test = scaler.transform(x_test)

x_test.shape

(3753, 33)

 
#### Question 8: What is the mean squared error of your linear model on the standardized test set? (round to 2 decimals)

  >  You should also pay attention to the types of your variables some are categorical and others are not even numbers. 
  >
  > _Hint_: there are categorical features among these attributes. You need to encode them with one-hot encoding first. Use the get_dummies function.

#### Question 9: What is the mean absolute error of your linear model on the standardized test set? (round to 2 decimals)
  > _Hint_: use the classes sklearn.train_test_split, sklearn.linear_model.LinearRegression._, and sklearn.metrics

In [ ]:
#TODO: CODE TO COMPUTE LINEAR MODEL AND ACCURACY METRICS
#HINT: Look up linear_model,metrics.mean_squared_error,metrics.mean_absolute_error
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, r2_score, mean_squared_error

#Create linear regression object
modele = LinearRegression(fit_intercept= True)

#Train the model using the training sets
modele.fit(x_train,y_train)

#Make predictions using the testing set
predictions = modele.predict(x_test)


#The mean squared error and the mean absolut error
mse = mean_squared_error(y_test, predictions)
mae = mean_absolute_error(y_test, predictions)
print("MSE = ", round(mse,2), " and MAE = ", round(mae,2))


#The coefficient of determination: 1 is perfect prediction
r2 = round(modele.score(x_train, y_train), 4)
print("R^2 =", r2)

#The coefficients
intercept = modele.intercept_[0]
print("intercept :", intercept)
features = modele.coef_.flatten()
print("coefficients: ", features)

MSE =  643.31  and MAE =  8.57
R^2 = 0.9997
intercept : 418.73205820970793
coefficients:  [-2.24062377e+00 -4.92740575e+02  2.33461489e+03 -7.90560146e+02
 -1.67594859e+01  6.82792956e+02 -1.13578992e+02  6.83634267e+12
  4.67431510e+12  1.45948728e+12  2.92297846e+12  3.59391457e+12
  3.10627201e+12  5.85765518e+12  1.79002091e+12  2.94815463e+12
  3.24457322e+12  2.54890875e+12  1.62161872e+12  2.37339163e+12
  3.82482623e+12  6.17457246e+12  2.62127765e+12  3.26139326e+12
  8.13185668e+11  6.11299510e+12  1.80066807e+12  1.59777728e+12
  8.81872289e+11  9.65821502e+11  3.14149470e+12  3.32223513e+12
  1.13194231e+12]

### Part 3 - kNN Classifier 
Now, for the remaining part of the assignment, you are going to be building a kNN classifier on a bank records of credit card users. The name of each column of data is self-explanatory regarding the content of that field. The purpose of this part is to identify customer segments and be able to predict the average income group of a given user. 


**Task:** Build a kNN classifier for the **Income_Category** based on all features **except**:

`['CustomerID','Card_Category','Education_Level','Marital_Status']`

and test various values of k between 1 and 20 to find the most suiting one. 
  
In a first step, as always, load the dataset and display the first few rows.

In [ ]:
#TODO: RUN THE CELL TO FETCH DATA AND START WORKING 
url = 'https://storage.googleapis.com/unil_bia/BankChurners.csv'
df = pd.read_csv(url).drop('CustomerID.1', axis = 'columns')
df

       CustomerID  Customer_Age  ... Total_Ct_Chng_Q4_Q1  Avg_Utilization_Ratio
0        77893100            49  ...            0.778160               0.064341
1        77906340            42  ...            0.538390              -0.000950
2        77896672            53  ...            0.571813               0.182933
3        77907011            63  ...            0.666323               0.534439
4        77899573            51  ...            0.784340               0.294722
...           ...           ...  ...                 ...                    ...
21361    77904816            56  ...            0.871254               0.816218
21362    77893743            50  ...            0.690071               0.006411
21363    77896451            46  ...            0.775323               0.184179
21364    77892298            53  ...            0.408986               0.012188
21365    77890514            43  ...            1.102845               0.049550

[21366 rows x 19 columns]

In [ ]:
#TODO: CODE TO DO THE LABEL ENCODING HERE
#Note that the label encoding will turn ['$120K +', 'Less than $40K', '$40K - $60K', '$60K - $80K','Unknown', '$80K - $120K'] into [0, 4, 1, 2, 5, 3] in that order
#This means that '$120K +' becomes 0, 'Less than $40K' becomes 4, etc.
#HINT: look up preprocessing.LabelEncoder()
import numpy as np
from sklearn.preprocessing import LabelEncoder
df['Income_Category'] = LabelEncoder().fit_transform(df['Income_Category'])
y = df[['Income_Category']]
y.head()

   Income_Category
0                0
1                4
2                1
3                4
4                2

You will now build the model.

In [ ]:
#TODO: CODE TO COMPUTE THE FEATURES OF INTEREST IN THE DATA SET 
#HINT: use DataFrame indexing, look up the function .get_dummies
dummies = pd.get_dummies(df["Gender"])
x = pd.concat([df, dummies], axis = 1)
del x['CustomerID']
del x['Education_Level']
del x['Marital_Status']
del x['Income_Category']
del x['Gender']
x.head()

   Customer_Age  Dependent_count  Months_on_book  ...  Avg_Utilization_Ratio  F  M
0            49                2              42  ...               0.064341  0  1
1            42                4              34  ...              -0.000950  1  0
2            53                5              41  ...               0.182933  1  0
3            63                0              53  ...               0.534439  1  0
4            51                1              22  ...               0.294722  0  1

[5 rows x 16 columns]

#### Question 10: How many rows and columns does the test set contain? (only independent variables)
> You will have to split the data set into a training and testing set with respective  relative proportion of **70% and 30%** to first train your model and then assess its accuracy.
>
> You should shuffle your data set when splitting to render your reproduction more robust. Use **`random_state = 42`**

In [ ]:
#TODO: CODE TO SPLIT DATA SET IN TRAIN AND TEST, RANDOM SHUFFLING
#HINT: look up the functions model_selection.train_test_split and preprocessing.MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state=42, shuffle=True)

scaler = MinMaxScaler()
scaler.fit(x_train)

x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)



x_test.shape

(6410, 16)


#### Question 11: What k maximizes the accuracy_score on the minmax scaled test set? Test for k between 1 and 20.
  > You should also pay attention to the types of your variables some are categorical and others are not even figures. 
  >
  >_Hint_: there are categorical features among these attributes. You need to encode them with one-hot encoding first. Use the get_dummies function.
  >
  > You will have to encode you target feature to use it to build you classifier
>
  > As the scale in the features is different, you should standardize your data with a **MinMax** scaler to before using it. In fact when calculating the distances, you don't kNN to focus on larger scale dimensions. 
>
  >_Hint_  : use the class sklearn.preprocessing

#### Question 12: What is the accuracy for the optimal k on the minmax scaled test set? (round to 2 decimals)
  >_Hint_: use the classes sklearn.train_test_split, sklearn.neighbors.KNeighborsClassifier, sklearn.preprocessing.LabelEncoder, and sklearn.metrics

In [ ]:
#TODO: CODE TO COMPUTE LINEAR MODEL AND ACCURACY METRICS
#HINT: Look up KNeighborsClassifier and metrics.accuracy_score
from sklearn.neighbors import KNeighborsClassifier

model = KNeighborsClassifier(1)
model.fit(x_train, y_train)
accuracy = model.score(x_test, y_test)
print("Accuracy on the minmax scaled test for the k (=1) that maximizes it is : ", accuracy)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

Accuracy on the minmax scaled test for the k (=1) that maximizes it is :  0.8728549141965679

In [ ]:
#TODO: CODE FOR VISUALIZATION OF K VERSUS ACCURACY
for k in range (1,21) :
  modele = KNeighborsClassifier(k)
  modele.fit(x_train, y_train)
  accuracy = modele.score(x_test, y_test)
  print("Accuracy on the minmax scaled test set for k =", k, "is : ", accuracy)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.

Accuracy on the minmax scaled test set for k = 1 is :  0.8728549141965679

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.

Accuracy on the minmax scaled test set for k = 2 is :  0.773634945397816

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.

Accuracy on the minmax scaled test set for k = 3 is :  0.719188767550702

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.

Accuracy on the minmax scaled test set for k = 4 is :  0.6569422776911077

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.

Accuracy on the minmax scaled test set for k = 5 is :  0.6271450858034321

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.

Accuracy on the minmax scaled test set for k = 6 is :  0.5921996879875195

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.

Accuracy on the minmax scaled test set for k = 7 is :  0.5741029641185648

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.

Accuracy on the minmax scaled test set for k = 8 is :  0.5519500780031201

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.

Accuracy on the minmax scaled test set for k = 9 is :  0.5438377535101404

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.

Accuracy on the minmax scaled test set for k = 10 is :  0.5290171606864275

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.

Accuracy on the minmax scaled test set for k = 11 is :  0.5274570982839314

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.

Accuracy on the minmax scaled test set for k = 12 is :  0.5213728549141966

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.

Accuracy on the minmax scaled test set for k = 13 is :  0.5170046801872075

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.

Accuracy on the minmax scaled test set for k = 14 is :  0.5084243369734789

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.

Accuracy on the minmax scaled test set for k = 15 is :  0.5087363494539782

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.

Accuracy on the minmax scaled test set for k = 16 is :  0.5065522620904837

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.

Accuracy on the minmax scaled test set for k = 17 is :  0.4995319812792512

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.

Accuracy on the minmax scaled test set for k = 18 is :  0.49375975039001563

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.

Accuracy on the minmax scaled test set for k = 19 is :  0.48954758190327613

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.

Accuracy on the minmax scaled test set for k = 20 is :  0.48985959438377535

#### Question 13: How many samples from your MinMax scaled test set were correctly classified in the Â´\$40K - $60KÂ´ income category? 
  >_Hint_: use the class sklearn.neighbors.KNeighborsClassifier.predict and sklearn.metric.confusion_matrix
  >
  >_Hint_: pay close attention to the class ordering of the confusion matrix so you look at the right category

In [ ]:
#TODO: CODE THE CONFUSION METRIC FOR YOUR OPTIMAL CLASSIFIER 
#HINT: look up the library sklearn.metrics and the function confusion_matrix
from sklearn.metrics import confusion_matrix

confusion_matrix(y_test, model.predict(x_test))

array([[1008,    3,    8,   15,    0,    0],
       [  15,  867,   29,   24,   86,   41],
       [  28,   39,  963,   51,   11,    3],
       [  38,   27,   68,  955,    2,    3],
       [   3,  135,   14,    7,  827,   96],
       [   0,   30,    0,    2,   37,  975]])

#### Question 14: Which income categories are predicted for the users with ids 77892545 and 77910120 with your optimal classifier? (k with the best accuracy)
  >_Hint_: use the class sklearn.neighbors.KNeighborsClassifier.predict

In [ ]:
#TODO: CODE TO SELECT IDS 77892545 AND 77910120
#HINT: look up the function isin 
scaler.fit(x)
x = scaler.transform(x)
pred = model.predict(x)
df.loc[:, 'Prediction'] = pred
df.head()

df[df['CustomerID'] == 77892545]

       CustomerID  Customer_Age  ... Avg_Utilization_Ratio  Prediction
12291    77892545            54  ...              0.011239           0

[1 rows x 20 columns]

In [ ]:

df[df['CustomerID'] == 77910120]

      CustomerID  Customer_Age  ... Avg_Utilization_Ratio  Prediction
8703    77910120            65  ...              0.821387           5

[1 rows x 20 columns]